.container {
	min-width: 1200px;
}

h1 {
	max-width: 200px;
}

canvas {
	border: 1px solid black;
	float: left;
}

.tol-bar {
	width: 500px;
}

.content {
	float:  right;
	/* min-width: 769px; */
}

#userNames {
	overflow-y: scroll;
	max-height:  500px;
	/* border:  1px solid black; */
}

#userChats {
	overflow-y: scroll;
	height:  615px;
	position: relative;
	border:  1px solid black;
}

.chat-wrapper {
	position: relative;
}

.chat {

}